body {
    background-color: #f8f9fa;
}
.header {
    background-image: url("images/logo2.jpg");
    background-blend-mode: overlay;
    height: 300px;
    background-position: center;
    color: white;
    padding: 100px 0;
    text-align: center;
    margin-bottom: 30px;
}
.header h1 {
    font-size: 3.5rem;
}
.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}
.status-message {
    font-size: 1.2rem;
    margin-top: 20px;
}
.border-custom {
    border: 2px solid #e9ecef;
    border-radius: 10px;
    padding: 15px;
    background-color: #f8f9fa;
}
